@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #0D0D0D;
  --foreground: #FFFFFF;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
